@import "tailwindcss";
@import "./theme.css";


@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}



